.lista-suspensa-form {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color:#4A4949;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
}